# Ignore node modules
node_modules/

# Ignore environment variable files
.env

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore output directories
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore coverage reports
coverage/

# Ignore editor folders
.vscode/
.idea/

# Ignore Kafka logs and data (common for Kafka dev environments)
kafka-logs/
zookeeper-data/
